.logo {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.wallet-check {
    display: flex;
    justify-content: center;
}

.wallet-check__input-group {
    border-bottom: 1px solid #a574ef;
    display: flex;
    padding: 0.5rem 0;
    max-width: 540px;
    width: 100%;
}

.wallet-check__input-group input {
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    color: #f2fff6;
    font-size: 16px;
    outline: none;
    padding: 0;
    width: 100%;
}

.wallet-check__input-group button {
    background-color: #a574ef;
    border: none;
    border-radius: 0.25rem;
    color: #f2fff6;
    font-size: 16px;
    outline: none;
    padding: 0.25rem 0.5rem;
}

.wallet-check__input-group button:hover {
    background-color: #6723dc;
}

.search-result {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .logo {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }

    .wallet-check {
        padding: 0 1rem;
    }
}
