.pfp-builder-name {
    display: flex;
    justify-content: center;
    margin: 4rem 0 0 0;
}

.pfp-builder-name h2 {
    display: inline-block;
    background-color: #f2fff6;
    border-radius: 6px;
    color: #020003;
    padding: 0 1rem;
    margin: 0;
}

.pfp-builder {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0 0 0;
}

.builder-option {
    margin-bottom: 0.5rem;
}

.builder-option label {
    display: inline-block;
    font-weight: 700;
    min-width: 120px;
}

.builder-option select {
    min-width: 150px;
}

.pfp-download {
    background-color: #a574ef;
    border: none;
    border-radius: 0.25rem;
    color: #f2fff6;
    cursor: pointer;
    outline: none;
    padding: 0.25rem 0.5rem;
    font-size: 16px;
    margin-top: 1rem;
    width: 100%;
}

.pfp-download:hover {
    background-color: #6723dc;
}

@media screen and (max-width: 768px) {
    .pfp-builder {
        flex-direction: column;
        margin: 4rem 1rem 0 1rem;
    }

    .builder-option {
        display: flex;
        justify-content: center;
    }
}
